@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0; /* Set text color to black */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255; /* Keep text color white for dark mode */
  }
}

body {
  color: rgb(var(--foreground-rgb)); /* Apply text color */
  background-color: rgb(255, 255, 255); /* Set background color to white */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

