@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --foreground-default: 0, 0, 0; /* Black text */
  --background-default: 255, 255, 255; /* White background */
  color: rgb(var(--foreground-default));
  background-color: rgb(var(--background-default));
}

@media (prefers-color-scheme: dark) {
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
